body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: #ffffff;
  box-shadow: none;
  transition: box-shadow 0.5s;
  z-index: 2;
}
header.stick {
  box-shadow: 0 4px 10px -4px #333333;
  transition: box-shadow 0.5s;

}
a {
  text-decoration: none;
  color: #000000;
}
#logo>a {
  color: #004070;
  /* font-weight: bold; */
}
nav>ul {
  list-style-type: none;
}
nav a>i {
  color: #234567;
}
nav>ul>li>a {
  color: #000000;
  text-decoration: none;
}
nav ul a:hover:not(.active) {
  background-color: #e9f5ff;
  color:#202060;
}
nav ul a.active {
  background-color: #ffffff;
  color:#377fc7;
}
.search-fragment {
  background-color: #5FBFFF;
}
nav #close-mobile-menu {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
}
#search input {
  display: none;
  width: 0px;
  opacity: 0;
  /* transition: opacity 2s; */
}
#search.active input {
  display: inline-block;
  width: 300px;
  opacity: 1;
  /* transition: opacity 2s; */
}
#mobile-menu-last {
  background-color: #000000;
  height: 2px;
}
#main a:hover {
  /* color: #ff0000; */
  text-decoration: underline;

}
#main #go-back {
  border-bottom: 1px solid #377fc7;
}
#main .buttons {
  text-align: right;
  font-size: 12px;
}
#main .buttons .edit {
  padding: 2px;
  border-radius: 3px;
}
#main .buttons .delete {
  padding: 2px;
  color: #ffffff;
}
.underline-box {
  border-bottom: 1px solid #377fc7;
}
.btn {
  border-radius: 3px;
  padding: 10px;
  border: 1px solid #000000;
  cursor: pointer;
  border-radius: 3px;
  background-color: #13639f;
  color: #ffffff;
  font-weight: bold;
  outline:none;
}
.btn-primary:active {
  background-color: #1363cf;
}
.btn-danger {
  background-color: #c11111;
}
.btn-danger:active {
  background-color: #ff0000;
}
.btn-mini {
  padding: 2px;
  font-weight: normal;
}
#right span.pubdate {
  color: #234567;
  font-weight: bold;
}
#right .element {
  border-bottom: 1px solid #377fc7;
}
#right .element:hover {
  text-decoration: underline;
  background-color: #f7fcff;
}
input[type="file"] {
    display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.image-upload {
    border: 1px solid #959595;
    border-radius: 3px;
    font-size:13px;
    padding: 10px;
    font-weight: bold;
    margin-left: 5px;
    display: inline-block;
    cursor: pointer;
    background-color: #dddddd;
}
footer {
  background-color: #234567;
}
#hidden {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}
#close {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: fixed;
    color: #f1f1f1;
    transition: 0.3s;
    z-index: 100;
    display: none;
}
#close:hover,
#close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
#hidden form {
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid #222222;
  box-shadow: 0px 0px 20px 10px #222222;
}
.inputborder {
  border: 1px solid #222222;
  box-shadow: inset 0 0 2px 0px #444444;
  border-radius: 3px;
  border: 1px solid #222222;
  box-shadow: inset 0 0 2px 0px #444444;
  font-size: 16px;
  padding: 8px;
  margin: 5px;
}
textarea {
  resize: none;

}
table {
  border-spacing: 0px;

}
table tr {
  padding: 1px 0px;
  margin: 0px;
  border: 2px;
}
tbody > tr:nth-child(even){
  background-color: #c2dae8;
}
div.table>div.row:nth-child(even) {
  background-color: #c2dae8;
}
#hidden form a {
  color: #0000cc
}

select {
  border-radius: 3px;
  padding: 9px;
  font-weight: bold;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-size: 6px auto;
  background-position: right 2px center;
  background-image: url("data:image/svg+xml;charset=utf-8, \
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 40'> \
        <polygon points='0,0 60,0 30,40' style='fill:black;'/> \
      </svg>");
}
select>option {

  border-radius: 3px;
  cursor: pointer;
  border-radius: 3px;
  /* font-weight: bold; */

}

form #errorfield {
  font-weight: bold;
  color: #ff0000;
}
form .warning {

  border: 1px solid #ff0000;
}
.new-photo {
  filter: grayscale(90%) blur(1px);
}
#photogallery-main {
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display:table;
  position:fixed;
  padding:5px;
  background-color:#000000;
}
#photogallery-previmg, #photogallery-nextimg {
  position:fixed;
  color:white;
  top:50%;
  transform:translate(0%, -50%);
  font-size:50px;
  padding:10px 5px;
  /* background-color:#000000; */
  background-color: rgba(0, 0, 0, 0.5);
  cursor:pointer;
  opacity: 0;
  transition: opacity .5s;
  -webkit-tap-highlight-color:transparent;
}
#photogallery-previmg:active, #photogallery-nextimg:active {
  background-color: rgba(35, 69, 103, 0.8);
}
#photogallery-previmg {
  left: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-right: 10px;
}
#photogallery-nextimg {
  right:0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 10px;
}
#loading {
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  display: none;
}
#loading>i {
  color: #333333;
}
