nav>ul#nav-main, nav>ul#nav-right {
  display: none;
}
nav>ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
}
#hamburger {
    display: inline-block;
    overflow: visible;
    position: absolute;
    right: 13px;
    top: 19px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
}
.hamburger-box {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
}
#hamburger .hamburger-inner, #hamburger .hamburger-inner:after, #hamburger .hamburger-inner:before {
    background-color: #000;
}
#hamburger .hamburger-inner {
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    transition-duration: .22s;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    position: absolute;
    width: 30px;
    height: 3px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #000;
}
.hamburger-inner {
    top: 50%;
    display: block;
    margin-top: 0px;
}
.hamburger-inner:after, .hamburger-inner:before {
    display: block;
    content: "";
}
#hamburger .hamburger-inner:before {
    top: -10px;
    transition: top .1s ease-in .25s,opacity .1s ease-in;
}
#hamburger .hamburger-inner:after {
    bottom: -10px;
    transition: bottom .1s ease-in .25s,transform .22s cubic-bezier(.55,.055,.675,.19);
}
#hamburger.openmenu .hamburger-inner {
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transform: rotate(225deg);
}
#hamburger.openmenu .hamburger-inner:before {
    top: 0;
    transition: top .1s ease-out,opacity .1s ease-out .12s;
    opacity: 0;
}
#hamburger.openmenu .hamburger-inner:after {
    bottom: 0;
    transition: bottom .1s ease-out,transform .22s cubic-bezier(.215,.61,.355,1) .12s;
    transform: rotate(-90deg);
}
nav #nav-mobile {
  display: none;
}
nav #nav-mobile a{
   width: calc(100vw - 10px);
   text-align: center;
   font-size: 20px;
   padding: 3px 0px;
   display: inline-block;
}
nav #mobile-search>a {
  width: unset;
}
nav #nav-mobile li, nav #mobile-right li {
  margin-top: 7px;
  display: block;
  width: 100vw;
}
nav #mobile-search input[type=text] {
  width: calc(100vw - 116px);
  margin: 10px;
}

@media only screen and (min-width: 1200px) {
  nav>ul#nav-main, nav>ul#nav-right {
    display: block;
  }
  nav>ul#nav-right {
    margin-right: 20px;
    float: right;
  }
  nav #nav-mobile, nav #mobile-right {
    display: none;
  }
  nav>ul#nav-right>li>a {
    padding: 14px 6px;
    display: inline-block;
  }
  nav>ul>li {
    float: left;
  }
  nav>ul>li>a {
    display: block;
    text-align: center;
    padding: 14px 16px;
  }
  #hamburger {
    display: none;
  }
  nav {
    padding-top: 20px;
  }
  .stick nav {
    padding-top: 0px;
  }
}
@media only screen and (min-width: 1360px) {
  nav>ul#nav-right {
    margin-right:calc(50vw - 650px);
  }
}
