body {
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
header {
  position:fixed;
  width: 100vw;
  padding-top: 6px;
}
#logo {
  display: inline-block;
  width: 100vw;
  float: left;
  width: 200px;
  margin-left: 8px;
  padding-top: 3px;
  font-size: 40px;
}

#content {
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 100px);
}
#content ,#main, #right, #top, #main>div,#top>div{
  display: table;
}
#right>div {
  display: block;
}
#top {
  width: 100%;
  height: 70px;
  margin-top: 50px;
}
#top .datetime-namedays {
  width: 240px;
  display: table;
  padding-top: 15px;
  float:left;
  font-weight: bold;
}
#top .datetime, #top .namedays  {
  font-size: 14px;
  display: inline-block;
  padding-left: 10px;
  width: 100%;
}
#top .namedays:nth-child(3) {
  font-weight: normal;
}
#top .weather {
  float:right;
  font-size: 24px;
  font-weight: bold;
  /* padding-top: 30px; */
  margin-right: 20px;
  margin-top: 27px;
}
#main {
  padding-top: 10px;
  /* padding-left: 5px; */
  /* padding-right: 5px; */
  /* width: calc(100% - 5px); */
  width: 100%;
  overflow-x: hidden;
  /* min-height: calc(100vh - 180px); */
}
#main #go-back {
  font-size: 20px;
  display: table;
  padding-left: 20px;
  padding-bottom: 10px;
  letter-spacing: -4px;
  width: calc(100% - 30px);
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
#main .brick {
    display: table;
    width: 144px;
    float: left;
    border-left: 1px solid #c5ddef;
    border-bottom: 1px solid #c5ddef;
    padding: 0px 5px;
    margin: 5px;
    height: 140px;
}
#main .brick h4 {
  font-size: 11px;
}


#main .brick .buttons {
  margin-left: 65px;
  margin-top: 8px;
  position: absolute;
  /* display: none; */
  transition-duration: .5s;
  opacity: 1;
}


#main .brick .image {
  height: 10px;
  background-color: #aaaaaa;
  width: 144px;
  object-fit: cover;
}
#main .brick h4 {
  text-indent: 10px;
}
#main .brick .author {
  margin-top: -15px;
  text-align: right;
  font-size: 10px;
}

#main .add-brick {
  text-align: center;
  font-size: 100px;
  border-left: unset;
  border-bottom: unset;
}
#main .add-brick .image {
  background-color: unset;
  padding-top: 10px;
}
#main .add-brick h4 {
  display: none;
  font-size: 0px;
  height: 0px;
}
#main .add-brick a {
  color: #234567;
  /* text-shadow: -1px 1px 5px #0054aa; */
  /* text-stroke:8px orange; */
  /* -webkit-text-stroke:8px orange; */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#main h3 {
  text-align: center;
}
#main .col-sm-1 {
  display: table;
  width: 100%;

  float: left;
}
div.article {
  width: 330px;
}
.article>img {
  width: 150px;
  float: right;
  /* margin: 0px 20px; */
  margin-right: 5px;
  margin-left:5px;
  /* border: 1px dotted #377fc7; */
  border-left: 1px solid #377fc7;
  border-bottom: 1px solid #377fc7;
  padding: 4px;
}
.photo-thumbnails {
  margin-left: auto;
  margin-right: auto;
  display: table;
}
.photo-thumbnails div.flagstone {
  float:left;
}
.photo-thumbnails .thumbnail {
  width: 72px;
  height: 72px;
  margin: 5px;
  border-radius: 5px;
  object-fit: cover;
}
.photo-thumbnails .thumbnail i{
  margin-top: 15px;
}
.photo-thumbnails div.flagstone div.photos-action{
  position: absolute;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  margin-left: 47px;
  margin-top: 5px;
  font-size: 30px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px white;
}
.photo-thumbnails div.flagstone div.photos-action>i{
  /* margin-top: 5px; */
}

h3#title {
  font-size: 16px;
  text-align: center;
}
div.table {
  display: table;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

div.ad-form {
  display: table;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
div.ad-form>div {
  float: left;
}
div.ad-form>div:nth-child(1), #ad-fields {
  width:250px;
}
div.ad-form>div:nth-child(2) {
  width:80px;
}
/* form>div.ad-form>div:nth-child(2) { */
  /* width:80px; */
  /* position: absolute; */
  /* right: 16px; */
/* } */
div.ad-form>div>* {
  padding: 4px 2px;
  font-size: 13px;
}
#ad-fields input[name="item"] {
  width: 233px;
}
/* form #ad-fields input[name="item"] { */
  /* width: 217px; */
/* } */
#ad-fields input[name="price"] {
  width: 93px;
}

.price-contact {
  font-weight: bold;
  padding: 5px 0px;
}
#ad-search {
  margin-top: 10px;
  width: 80px;
  height: 40px;
  font-size: 16px;
}
div.ad-form select {
  margin-left: 5px;
  width: 125px;
}
div.ad-form select {
  font-weight: normal;
}
div.table>div.row {
  display: table-row;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 30px;
}
div.table>div.row>div {
  display: table-cell;
  padding: 0px;
  margin: 0px;
  font-size: 13px;
}
div.table>div.row>div>* {
  padding: 1px;
  margin: 2px;
}
div.users-table {
  width: 350px;
}
div.users-table>div.row>div {
  padding-top: 7px;
}
div.table>div.row>div.cell-price {
  width: 100px;
  text-align: right;
  padding-top: 4px;
}
.main-content p {
  text-align: justify;
  text-indent: 10px;
  font-size: 12px;
  margin: 5px;
  letter-spacing: 0.01px;
  line-height: 14px;
}
form.embed-form {
  width: calc(100% - 20px);
  margin-left: -4px;
  display: table;
  margin-bottom: 10px;
}

form.embed-form input[type=text] {
  font-size: 16px;
  padding: 10px;
  margin:5px;
  width: calc(100% - 5px);
}
form.embed-form textarea {
  width: calc(100% - 5px);
  font-size: 14px;
  padding: 10px;
  margin:5px;
  height: calc(100vh - 320px);
}
form#advertisement-form input[name="price"] {
  width: 69px;
}
form#advertisement-form select {
  margin-left: 5px;
}
form#advertisement-form button {
  position: relative;
  left: 25px;
}
footer {
  width: 100vw;
  height: 100px;
  margin-bottom: 0px;
}
#right .element {
  width: calc(50% - 4px);
  float:left;
  margin:2px;
  display: block;
  font-size: 11px;
  height: 30px;
  line-height: 10px;
  display: table;
}
#hidden {
  top: 0px;
  position: fixed;
  width: 100%;
  height: 100%;

}
#close {
    top: 0px;
    right: 10px;
    font-size: 60px;
    font-weight: bold;
}
#hidden form {
  position: fixed;
  width:calc(100vw - 10px);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding-bottom: 10px;
}
#hidden form > * {
  margin: 10px;
}
#hidden form > input[type=text], #hidden form > input[type=password] {
  width: calc(100vw - 52px);
  font-size: 16px;
  padding: 10px;
}

#hidden form > button {
  width: calc(100vw - 30px);
  font-size: 16px;
  padding: 10px;
}
#hidden form > button.half-width {
  width: calc(50vw - 28px);
}
#hidden form h3 {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;

}
#hidden form p.small {
  text-align: center;
  font-size: 15px;
}


#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;

}
#loading>i {
  /* transform: translate(-50px, -50px); */
  position:fixed;
  font-size: 100px;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}
#hidden form #errorfield {
  height: 18px;
  display: block;
  padding-left: 10px;
}
@media only screen and (min-width: 510px) {

  #content {
    width: 510px;
  }
  #top {
    height: 55px;
  }
  #top .datetime-namedays {
    width: 350px;
    margin-left: 20px;
  }
  #top .datetime {
    width: 350px;
  }
  #top .namedays  {
    width: unset;
  }
  #top .datetime, #top .namedays  {
    font-size: 14px;
    padding: 2px 2px;
  }
  div.article {
    width: unset;
  }
  .photo-thumbnails .thumbnail {
    width: 73px;
    height: 73px;
  }
  #ad-fields {
    width: 430px;
  }
  #ad-fields input[name="item"] {
    width: 170px;
  }
  #ad-fields select {
    margin-left: 0px;
    width: 120px;
  }
  #ad-search {
    margin-top: 5px;
    padding: 4px;
    font-size: 14px;
    height: unset;
    /* height: 28px; */
  }
  div.table {
    width: 510px;
  }
  form#advertisement-form input[name="price"] {
    width: 204px;
  }
  form#advertisement-form button {
    left: 30px;
    width: 100px;
  }
  #right .element {
    width: calc(33% - 3px);
  }
}
@media only screen and (min-width: 800px) {
  #content {
    width:770px;
    min-height: calc(100vh - 100px);
  }
  #top {
    height: 70px;
  }
  #top .datetime, #top .namedays  {
    font-size: 20px;
    padding: 2px 4px;
  }
  #top .datetime-namedays {
    width: 660px;
    padding-top: 40px;
  }
  #top .datetime {
    width: unset;
  }
  #top .weather {
    margin-right: 50px;
  }
  form.embed-form #form-buttons {
    /* margin-top: -45px; */
  }
  form#advertisement-form button {
    left: 63px;
    width: 100px;
  }
  #right {
    margin-top: 10px;
    width: 220px;
    float: left;
    margin-left: 10px;
  }
  #right>div {
    width: 220px;
  }
  #main {
    width: 530px;
    float: left;
    /* min-height: calc(100vh - 216px); */
  }
  #main>div {
    width: 530px;
  }
  #main .brick {
      width: 240px;
      padding: 0px 7px;
      margin: 5px;
      height: 200px;
  }
  #main .brick .image {
    width: 240px;
  }
  #main .brick h4 {
    font-size: 16px;
    /* min-height: 46px; */
  }
  #main .brick .buttons {
    margin-left: 138px;
    font-size: 16px;
  }

  #main .article>.buttons, #ad-detail>.buttons  {
    font-size: 16px;
  }
  #main .brick .author {
    margin-top: -15px;
    font-size: 14px;
  }
  #main .add-brick {
    font-size: 150px;
  }
  #main .add-brick .image {
    padding-top: 10px;

  }
  .article>img {
    width: 200px;
  }
  .photo-thumbnails .thumbnail {
    width: 95px;
    height: 95px;
  }
  .photo-thumbnails .thumbnail i {
    margin-top: 30px;
  }
  .photo-thumbnails div.flagstone div.photos-action{
    margin-left: 72px;
  }
  #ad-fields {
    width: 450px;
  }
  #ad-fields input[name="item"] {
    width: 190px;
  }

  h3#title {
    font-size: 22px;
    padding-bottom: 10px;
  }
  .main-content p {
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 16px;
  }
  .price-contact {
    padding: 10px 20px;
  }
  div.table {
    display: table;
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
  div.table>div.row>div {
    font-size: 15px;
  }
  #right .element {
    padding: 5px 0px;
    width: 100%;
    float: unset;
    letter-spacing: 0.03em;
    font-size: 12px;
    line-height: 14px;
    height: unset;
  }
  #hidden form {
    width:600px;
  }
  #hidden form > input[type=text], #hidden form > input[type=password] {
    width: 558px;
  }
  #hidden form > button {
    width: 580px;
  }
  #hidden form > button.half-width {
    width: 277px;
  }
}
@media only screen and (min-width: 1050px) {
  #top {
    height: 90px;
  }
  #top .datetime-namedays {
    margin-left: 30px;
    margin-top: 45px;
  }
  #top .datetime {
    width: unset;
  }
  #top .weather {
    margin-right: 250px;
    margin-top: 85px;
  }
  #content {
    width: 1035px;
  }
  #main, #main>div {
    width: 795px;
  }
  #main .col-lg-2 {
    display: table;
    min-height: calc(100vh - 300px);
    width: 50%;
  }
  #main .address h3 {
    margin-top: 100px;
  }
  .photo-thumbnails .thumbnail {
    width: 103px;
    height: 103px;
  }
  .photo-thumbnails div.flagstone div.photos-action {
    margin-left: 78px;
  }
  #ad-fields {
    width: 715px;
  }
  #ad-fields input[name="item"] {
    width: 450px;
  }
  form.embed-form {
    /* width: calc(80vw - 100px); */
    width: calc(100% - 100px);
    margin-left: auto;
    margin-right: auto;

  }
  form.embed-form textarea {
    font-size: 16px;
    padding: 10px;
    margin:5px;
    letter-spacing: -0.5px;
    height: calc(100vh - 360px);
  }
  form#advertisement-form button {
    left: 512px;
    width: 100px;
  }

}
@media only screen and (min-width: 1200px) {

  #content {
    width:1100px;
    min-height: calc(100vh - 100px);
  }
  #main {
    width: 800px;
    margin-top: 10px;
    min-height: calc(100vh - 276px);
  }
  #main>div {
    width: 800px;
  }
  #top .weather {
    margin-right: 320px;
    padding-top: -5px;
  }

  div.article, div.article>h3 {
    padding: 0px 20px;
    display: table;
    /* max-width: 250px; */
  }
  div.main-content {
    margin-left: auto;
    margin-right:auto;
    padding: 0px 20px;
    /* display: table; */
  }
  .article>img {
    width: 300px;
    float: right;
    /* margin: 0px 20px; */
    margin-right: 40px;
    margin-left:20px;
    /* border: 1px dotted #377fc7; */
    border-left: 1px solid #377fc7;
    border-bottom: 1px solid #377fc7;
    padding: 4px;
  }
  .photo-thumbnails {
    margin-top: 20px;
    padding: 0px 20px;
  }
  .photo-thumbnails .thumbnail {
    width: 92px;
    height: 92px;
  }
  .photo-thumbnails div.flagstone div.photos-action {
    margin-left: 67px;
  }
  form.embed-form {
    /* width: 745px; */
  }
  form#advertisement-form button {
    left: 251px;
    width: 100px;
  }
  #right {
    width: 280px;
    float: left;
    margin-left: 10px;
  }
  #right > div {
    width: 280px;
  }
  .main-content p {
    line-height: 20px;
    font-size: 16px;
  }
  #right .element {
    padding: 5px 0px;
    letter-spacing: 0.05em;
    font-size: 14px;
    line-height: 18px;
    width: 270px;
  }

  #logo {
    display: inline-block;
    float: left;
    width: 200px;
    margin-left: 40px;
    padding-top: 8px;
    font-size: 27px;
  }

  header {
    /* margin-top: 20px; */
    position: absolute;
    padding:2px 0px;
    /* transition: padding 4s linear; */
    /* transition: 4.15s all ease; */
  }
  header.stick {
    margin-top: 0px;
    padding: 0px 0px;
    position: fixed;
    /* height:80px; */
    /* transition: padding 2s linear; */
    /* height: 80px; */
    /* height: 46px; */
  }

  #close {
    top: -10px;
    right: 10px;
    font-size: 80px;
    font-weight: bold;
  }
}
@media only screen and (min-width: 1360px) {
  #logo {
    margin-left:calc(50vw - 680px)
  }
  #content {
    width: 1360px;
  }
  .photo-thumbnails .thumbnail {
    width: 98px;
    height: 98px;
  }
  .photo-thumbnails div.flagstone div.photos-action {
    margin-left: 73px;
  }
  #top .datetime-namedays {
    width: 910px;
  }
  #top .weather {
    font-size: 30px;
    margin-top: 56px;
  }
  #main, #main>div {
    width: 1060px;
  }
  #ad-fields {
    width: 980px;
  }
  #ad-fields>* {
    font-size: 18px;
    padding: 5px;
  }
  #ad-fields input[name="item"] {
    width: 600px;
  }
  #ad-fields select {
    width: 175px;
  }
  #ad-fields input[name="price"] {
    width: 143px;
  }
  #ad-search {
    /* margin-top: 5px; */
    height: 35px;
    font-size: 18px;
  }
  form.embed-form {
    /* width: calc(50vw - 50px); */
    margin-left: auto;
    margin-right: auto;
  }
  form#advertisement-form button {
    left: 512px;
    width: 100px;
  }
}
/* */
@media (hover: hover) and (pointer: fine) {
  #main .brick:hover {
      background-color: #f7fcff;
  }
  #main .brick>.buttons, #main .article>.buttons, #ad-detail>.buttons {
    transition-duration: .5s;
    opacity: 0;
  }
  #main .brick:hover .buttons, #main .article:hover .buttons, #ad-detail:hover>.buttons {
      display: block;
      transition-duration: .5s;
      opacity: 1;
  }
  .photo-thumbnails div.flagstone div.photos-action {
    opacity: 0;
  }
  .photo-thumbnails div.flagstone:hover div.photos-action {
    opacity: 1;
  }
  #hidden form a:hover {
    text-decoration: underline;
  }
}
