<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon" />
  <link rel="stylesheet" href="{% static "css/main.css" %}" />
  <link rel="stylesheet" href="{% static "css/rwd.css" %}" />
  <link rel="stylesheet" href="{% static "css/nav.css" %}" />
  <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
      crossorigin="anonymous"
    /> -->
    <link rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous"/>
  <script type="application/javascript" src="{% static "js/main.js" %}" ></script>
  <!-- <script type="module" src="{% static "js/index.js" %}" ></script> -->
  <title>Gazeta.org</title>
</head>
<body>
<header>
<nav>
  <div id="logo"><a href="/" >GAZETA.ORG</a></div>
  <div id="hamburger">
    <div class="hamburger-box">
      <div class="hamburger-inner"></div>
    </div>
  </div>
  <ul id="nav-main">
  </ul>
  <ul id="nav-right">
  </ul>
  <ul id="nav-mobile">
  </ul>
</nav>
</header>
<div id="content">
  <div id="top"> </div>
  <div id="main"> </div>
  <div id="right"></div>
</div>
<footer></footer>
<div id="hidden"></div><span id="close">×</span>
<div id="loading"><i class="fa fa-spinner fa-pulse"></i></div>
</body>
</html>
